/* day and date wise forecast details styles */

.forecast-day-label{
font-size: 13px;
font-family: "Verdana";
font-weight: bold;
color: #0066a1;
margin-top: 25px;
margin-bottom: 25px;
margin-left: 20px;
} 

.forecast-icon-label{
  margin-left: 40px;
}
.forecast-details-container{
    /* //margin: 12.5em 1em 1em 1.8em; */
    width: 100%;
    margin-top: 215px;
    margin-left: 25px;
    margin-right: 25px;
    position: absolute;
    margin-bottom: 15px;  
    }

    #sub-title{
      font-size: 25px;
        font-family: "Verdana";
        color: white;
        margin-top: 10px;
        margin-left: 20px;
      }
      
    
    .forecast-title{
    font-size: 17px;
    font-family: "Verdana";
    color: white;
    background-color: #0066a1;
    position: relative; /*swati*/
    height: 65px;     
    width:96%;
    }
    
    .forecast-details{
    background-color: white;
    position: relative; /*swati*/
    width: 96%;
    height: 120px; /*swati*/
    /*margin-top: 65px;   */ /*swati*/
    }
/*     
    .daily-data{
    padding-top: 2em;
    }
     */
    .forecast-graph{
    background-color: rgb(15, 148, 225);
    position: absolute;
    width: 96%; 
    height: 106px;
    /*margin-top: 11.5em;  */ /*swati*/
    }
    
    .graph-bg {
      height: 75px;
      z-index: 0;
      top: 10px;
      width:100%;
    }
    .max-point {
      width: 100%;
      height: 60px;
      position: absolute;
      z-index: 1;
      top: 10px;
      padding-left: 10px;
      padding-right: 20px;
    }
    .min-point {
      width: 100%;
      height: 60px;
      position: absolute;
      z-index: 2;
      top: 10px;
      padding-left: 10px;
      padding-right: 20px;
    }
    
    .graph-container {
      width: 100%;
      background-color: #0e94e1;
    }

    @media screen and (max-width: 1024px) {
      .forecast-details-container{
        width: 100% ;      
        margin: 180px 0px !important;
        }
        
        .forecast-title{
        font-size: 15px;    
        height: 50px;     
        width:100%;
        }
        
        .forecast-details{
        width: 100%;
        height: 120px;
        margin-top: 50px;  
        }
        
        /* day and date wise forecast details styles */
        
        .forecast-day-label{
        font-size: 13px;
        margin-top: 20px;
        margin-bottom: 15px;
        margin-left: 0px;
              } 
        
        .forecast-icon-label{
          margin-left: 0px;
          margin-bottom: 20px;
        }
        
        /* forecast graph styles */
        .forecast-graph{
        width: 100%; 
        height: 75px;
        margin-top: 10em; 
        }
  
    }

     /* city details block for mobile screen start */
  @media screen and (max-width: 1024px) {
      
        .forecast-details-container{
          width: 100% ;      
          margin: 210px 0px !important;
          }
          
          .forecast-title{
          font-size: 15px;    
          height: 50px;     
          width:100%;
          }
          
          .forecast-details{
          width: 100%;
          height: 120px;
          margin-top: 0px;  
          }
          
          /* day and date wise forecast details styles */
          
          .forecast-day-label{
          font-size: 13px;
          margin-top: 0px;
          margin-bottom: 15px;
          margin-left: 0px;
                } 
          
          .forecast-icon-label{
            margin-left: 0px;
            margin-bottom: 20px;
          }
          
          /* forecast graph styles */
          .forecast-graph{
          width: 100%; 
          height: 130px;
          margin-top: 0em; 
          }
          
         
  }