
<div class="container forecast-details-container" [hidden]="isWeatherData">
    <div class="row forecast-title">
        <p id="sub-title">Forecast</p>
    </div>

    <div class="row forecast-details justify-content-center">    
        <div class="col-2 daily-data" *ngFor="let icon of fiveDaysWeatherIcon; let i=index">               
            <div class="forecast-day-label">
                <span>{{dateNameForGraphRenderOnly[i]}}</span>
                <span class="forecast-date-label-lg m-2">{{dateForGraphRenderOnly[i]}}</span>
            </div>
              
            <div class="forecast-icon-label">
                <img src="{{icon}}" />
            </div>
        </div>     
    </div> 
<!--forecast graph-block-start-->
   <div class="row forecast-graph justify-content-center">           
        <div class="graph-bg">
            <canvas #lineCanvasBckGround></canvas>
        </div>
        <div class="min-point">
            <canvas #lineCanvasMin></canvas>
        </div>
        <div class="max-point">
            <canvas #lineCanvasMax></canvas>
        </div>
    </div> 
    <!--forecast graph-block-end-->
</div>