
.forecast-details-container{
    /* //margin: 12.5em 1em 1em 1.8em; */
    width: 100%;
    margin-top: 215px;
    margin-left: 25px;
    margin-right: 25px;
    position: absolute;
    /* //margin-bottom: 15px;   */
    }

    #sub-title{
      font-size: 25px;
        font-family: "Verdana";
        color: white;
        margin-top: 10px;
        margin-left: 20px;
      }
      
    
    .forecast-title{
    font-size: 17px;
    font-family: "Verdana";
    color: white;
    background-color: #0066a1;
    position: relative; /*swati*/
    height: 65px;     
    width:96%;
    }
    
    .forecast-details{
    background-color: white;
    position: relative; /*swati*/
    width: 96%;
    /*height: 120px; /*swati*/
    /*margin-top: 65px;   */ /*swati*/
    }
    
    .daily-data{
    padding-top: 2em;
    }
    
    .forecast-graph{
    background-color: rgb(15, 148, 225);
    position: absolute;
    width: 96%; 
    height: 105px;
    /*margin-top: 11.5em;  */ /*swati*/
    }
    
    .graph-bg {
      height: 75px;
      z-index: 0;
      top: 10px;
    }
    .max-point {
      width: 100%;
      height: 60px;
      position: absolute;
      z-index: 1;
      top: 10px;
    }
    .min-point {
      width: 100%;
      height: 60px;
      position: absolute;
      z-index: 2;
      top: 10px;
    }
    
    .graph-container {
      width: 100%;
      background-color: #0e94e1;
    }