.weather-details-container{    
    width: 100%;
    margin-top: 475px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;  
    }
    
    .weather-title{
    font-size: 17px;
    font-family: "Verdana";
    color: white;
    background-color: #0066a1;
    position: absolute;
    height: 65px;     
    width:96%;
    }
    .weather-details{
        background-color: white;
        position: absolute;
        width: 96%;
        height: 135px;
        margin-top: 65px;  
        }
        .detail-desc-label {
            font-size: 16px;
            font-family: "Verdana"; 
            text-align: center;
            color: #0066a1;
            }
            .detail-data-label {
            font-size: 23px;
            font-family: "Verdana";
            text-align: center;
            color: #0066a1;
            }
            #sub-title{
                font-size: 25px;
                  font-family: "Verdana";
                  color: white;
                  margin-top: 10px;
                  margin-left: 20px;
                }
                
                .weather-details{
                background-color: white;
                position: absolute;
                width: 96%;
                height: 135px;
                margin-top: 65px;  
                }
                
                .icon-space{
                  margin-right: 35px;
                  margin-left: 120px;
                }
                
                .prec-data{
                  padding-top: 2.5em;  
                }
                .wind-data{
                  padding-top: 2.5em;
                }
                .humi-data{
                  padding-top: 2.5em;
                }
                

   /* city details block for mobile screen start */
  @media screen and (max-width: 1024px) {
  
      .weather-details-container{
        width: 100%;      
        margin: 450px 0px !important;  
        }      
        
      .weather-title{
        font-size: 15px;  
        height: 50px;  
        width: 100%;      
      }
  
      .weather-details{      
        height: 140px;
        margin-top: 50px;
        width: 100%;     
        }
        
        .prec-data{
          margin-left: 40px; 
          margin-top: 0px;
        }
        .wind-data{
          margin-left: 20px; 
        }
        .humi-data{
          margin-left: 20px; 
        }      
       
        .icon-space{        
          margin-bottom: 15px;
          margin-left: 10px;
        }
  
        .icon-space img {
          height: 40px;
        }
        .detail-desc-label {
        font-size: 12px;
        }
        .detail-data-label {
        font-size: 20px;
        margin-bottom: 100px;
        }
  
  
  }              