<!--city-details-block-start-->
<div class="content-bg justify-content-center">
    <div class="row search-bar">
        <div class="col-12">
            <input type="text" [(ngModel)]="userCity"  name="search_bar_text" placeholder="Search Location" (keyup.enter)="getCurrentWeather(userCity)"/>
                    
            <button class="search-bar-btn" type="button" (click)="getCurrentWeather(userCity)">
             <img src="\assets\images\icon\Search.png" alt="search" name="search-icon"></button>
        
             <button class="search-bar-btn" type="button" (click)="onClickLocation()">
             <img src="\assets\images\icon\Location.png" alt="location" name="location-icon"></button>
        </div>
    </div>

    <div class="row city-details" [hidden]="isWeatherData">
        <div class="col-8">
            <div class="city-name">
                <span>Weather for {{city | titlecase}}</span>
            </div>
            <div class="city-temp">
                <span>{{currentTemp}}°C</span>
            </div>
            <div class="city-text">
                <span>AND RISING</span>
            </div>
            <div class="city-weather">
                <span>{{currentWeatherDesc | titlecase}}</span>
            </div>
            <div class="city-wind">
                <span>Wind: {{wind}} m/s Moderate Breeze</span>
            </div>
        </div>
        <div class="col-4">
            <div class="weather-icon">
                <img class="img-fluid" src="{{currentWeatherIcon}}"> 
               <!--<img [src]="imageURL" class="weather-Img"> -->
            </div>
        </div> 
    </div>
</div>
<!--/ city-details-block-end-->
