<!--header-block-start-->
<div class="row">
    <div class="header">
        <p id="title">Weather Check</p>
        <button class="menu-btn"></button>
    </div>
</div>
<!--/ header-block-end-->

<!-- body-content-block-start-->

<div class="row">
    <!--city-details-block-start-->
    <div class="content-bg">
        <div class="row search-bar">
            <input type="text" [(ngModel)]="inputFromSearchBox"  name="search_bar" placeholder="Search Location" (keyup.enter)="getCurrentWeather(inputFromSearchBox)"/>
            <button class="search-bar-btn" type="button" (click)="getCurrentWeather(inputFromSearchBox)">
                 <img src="\assets\images\icon\Search.png" alt="search" name="search-icon"></button>
            <button class="search-bar-btn" type="button" (click)="onClickLocation()">
                 <img src="\assets\images\icon\Location.png" alt="location" name="location-icon"></button>
        </div>

        <div class="row city-details" [hidden]="city_details_show">
            <div class="col-8">
                <div class="city-name">
                    <span>Weather for {{city | titlecase}}</span>
                </div>
                <div class="city-temp">
                    <span>{{currentTemp}}°C</span>
                </div>
                <div class="city-text">
                    <span>AND RISING</span>
                </div>
                <div class="city-weather">
                    <span>{{currentWeatherDesc}}</span>
                </div>
                <div class="city-wind">
                    <span>Wind: {{wind}} m/s Moderate Breeze</span>
                </div>
            </div>
            <div class="col-4">
                <div class="weather-icon">
                   <!-- <img src="{{currentWeatherIcon}}"> -->
                   <img [src]="imageURL" class="weather-Img"> 
                </div>
            </div> 
        </div>
    </div>
    <!--/ city-details-block-end-->
     <!-- weather-details-block-start-->    
     <div class="container weather-details-container" [hidden]="city_details_show">
        <div class="row weather-title">
            <p id="title" class="weather-title-detail">Details</p>
        </div>
        <div class="row weather-details justify-content-center">

            <div class=" row col-md-4 wind-data justify-content-center">
                <div class="ele-space">
                    <img src="\assets\images\icon\Precipitation.png" />
                </div>
                <div>
                <div class="detail-desc-label">
                    <span id="data">Precipitation  </span>
                  </div>
                  <div class="detail-data-label">
                    <span>{{precipitation}}%</span>
                  </div>
                </div>
            </div>
            <!-- <div class="col-md-4 precipitation-data">
                <img src="\assets\images\icon\Precipitation.png" />
                <span id="data">Precipitation  </span>
                <span>{{precipitation}}</span>
            </div> -->
           
            <div class=" row col-md-4 wind-data justify-content-center">
                <div class="ele-space">
                    <img src="\assets\images\icon\wind.png" />
                </div>
                <div>
                <div class="detail-desc-label">
                    <span id="data">Wind </span>
                  </div>
                  <div class="detail-data-label">
                    <span>{{wind}}m/s</span>
                  </div>
                </div>
                <!-- <span id="data">Wind </span>
                <span>{{mWind}}m/s</span> -->
            </div>
            <div class=" row col-md-4 wind-data justify-content-center">
                <div class="ele-space">
                    <img src="\assets\images\icon\humidity.png" />
                </div>
                <div>
                <div class="detail-desc-label">
                    <span id="data">Humidity </span>
                  </div>
                  <div class="detail-data-label">
                    <span>{{humidity}}%</span>
                  </div>
                </div>
            </div>
            <!-- <div class="col-md-4 humidity-data">
                <img src="\assets\images\icon\humidity.png" />
                <span id="data">Humidity </span>
                <span>{{humidity}}</span>
            </div>                  -->
        </div>
    </div>   

</div>
<!--/ body-content-block-end-->
  