

.header{
    position: absolute;     
    width: 100%;
    height: 90px;
    text-align: center;
    background-color: #0066a1;
  }

#title{
    font-size: 25px;
    font-family: "Verdana" Regular;
    color: white;
    margin: 20px;
  }

.content-bg {
    background-image: url("../../assets/images/background-image/Bg_Image_Mobile.png");
    background-position: bottom;
    box-shadow: none;
    margin-top: 5em;
    position: relative;
    width: 100%;
  }
.search-bar-btn
{  
    border: none;
    padding: 0.3em 0.7em;
}
.search-bar{
    font-size: 15px;
    font-family: "Verdana"; 
    color: #8c8c8c;
    width: 100%;
    margin: 1em 5em;
  }
  .search-bar-bg {
    background-color: white;
    height: 3.2em;
    border-radius: 5px;
  }

input[name=search_bar] {
      height: 3.2em;
      width: 80%;
      border: white;
  }

.search-bar button {           
    background-color: white;
    height: 3.2em;
  }

/*.search-bar button:hover{
    background-color: rgb(160, 215, 233);
    //transform: scale(1.3);
  }  */

.city-details{
  margin-left: 3.8em;
}

.city-name{
    font-size: 23px;
    font-family: "Verdana";
    color: white;
    //margin-top: 30px;
}
 
.city-temp{
    font-size: 53px;
    font-family: "Verdana";
    color: white;
    margin-top: 50px;
}

.city-text{
    font-size: 14px;
    font-family: "Verdana";
    color: white;
    margin-top: 15px;
}

.city-weather{
    font-size: 19px;
    font-family: "Verdana";
    font-weight: bold;
    color: white;
    margin-top: 40px;
}

.city-wind{
    font-size: 14px;
    font-family: "Verdana";
    color: white;
    margin-bottom: 20px;
}

.weather-icon{
  margin-top: 2em;
 }

 .weather-Img{
   height: 13em;
   width:13em;
 }

 .weather-details-container{
  //position: absolute;
  margin: 1em 1em 1em 1.8em;
  height: 40%;
}

.detail-desc-label {
  font-size: 16px; 
  text-align: center;
  color: #0066a1;
}
.detail-data-label {
  font-size: 23px;
  text-align: center;
  color: #0066a1;
  padding-bottom: 5px;
}


.weather-title{
  background-color: #0066a1;
  position: absolute;     
  width:96%;
}

.weather-details{
  background-color: white;
  position: absolute;
  width: 96%;
  height: 135px;
  margin-top: 65px;
  
}

.ele-space
{
  padding-right: 1em;
}

.weather-title-detail
{
  margin:0.5em 1em;
}
.wind-data
{
  padding-top: 1em;
}